<h2>{{ object.title }}</h2>
<p>{{ object.content }}</p>
<small>By {{ object.author.username }} on {{ object.created_at }}</small>

{% if user == object.author %}
  <a href="{% url 'post-update' object.pk %}">Edit</a>
  <a href="{% url 'post-delete' object.pk %}">Delete</a>
{% endif %}
<a href="{% url 'post-list' %}">Back to Posts</a>


<h3>Comments</h3>
{% for comment in object.comments.all %}
  <p><strong>{{ comment.author.username }}:</strong> {{ comment.content }}</p>
  {% if comment.author == request.user %}
    <a href="{% url 'comment-update' comment.pk %}">Edit</a>
    <a href="{% url 'comment-delete' comment.pk %}">Delete</a>
  {% endif %}
{% empty %}
  <p>No comments yet.</p>
{% endfor %}

{% if user.is_authenticated %}
  <h4>Add a comment:</h4>
  <form action="{% url 'comment-create' object.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Post Comment</button>
  </form>
{% else %}
  <p><a href="{% url 'login' %}">Log in</a> to comment.</p>
{% endif %}